PORT=8000
MONGO_URI=mongodb+srv://@cluster0.fshcjhd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=you-secret
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=your_gemini_key_here
NVIDIA_API_KEY=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
CLIENT_URL=http://localhost:5173
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your email
SMTP_PASS=your pass

REDIS_URL=redis://localhost:6379